//
// Common settings presumably good enough
// for any desktop or laptop using IBus.
//
// IN CASE THE CONFIG FILES (niri/config.kdl, niri/dms/*.kdl)
// ARE DEFAULT/GENERATED:
//
// Append these includes at the end of config.kdl:

// //include "custom.kdl"  // For a laptop, mostly.
// include "common.kdl"
//
// Comment out (with /-):
//
// input from config.kdl
// Mod+Space ... {} from dms/binds.kdl
//
input {
    keyboard {
        xkb {
        }
        //numlock
    }
    touchpad {
        tap
    }
    mouse {
    }
    trackpoint {
    }
}

spawn-at-startup "ibus" "start" "--type" "wayland"

binds {
    // Mod+Space reserved for IBus switch.
    /-Mod+Space hotkey-overlay-title=null {
        spawn "true";
    }
    Ctrl+Space hotkey-overlay-title="Application Launcher" {
        spawn "dms" "ipc" "call" "spotlight" "toggle";
    }
}
